## Automatic Speech Recognition

In [3]:
import pandas as pd
import numpy as np

import tensorflow as tf

import librosa

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [21]:
def load_train_data(path):

    """A simple function to load data"""

    data = pd.read_csv(path, sep = '\t', low_memory = False)
    return data

train_df = load_train_data('C:/Users/user/Documents/hackathon/mozilla_common_voice/data/train.tsv')
train_df.head(3)

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,0133d8ddf5c1a3c678fde017e0b07d2835bfd707d5b3ec...,common_voice_sw_31428161.mp3,wachambuzi wa soka wanamtaja Messi kama nyota ...,2,0,twenties,female,NaN,NaN,sw,NaN
1,41ba4752c376dc7f0502f9c97728bf2f54e47972f3b6e4...,common_voice_sw_30356664.mp3,wachambuzi wa soka wanamtaja Messi kama nyota ...,2,0,fourties,female,NaN,NaN,sw,NaN
2,01c95772efd3fbe4a1122206c7474c77ed6591c8c9fb00...,common_voice_sw_30317714.mp3,romario aliingia kwenye orodha ya wachezaji wa...,2,1,NaN,NaN,NaN,NaN,sw,NaN

In [20]:
# load test data

def load_test_data(path):

    """A simple function to load test data"""

    data = pd.read_csv(path)
    return data

test_df = load_test_data('C:/Users/user/Documents/hackathon/mozilla_common_voice/data/test.csv')
test_df.head(3)

,client_id,path,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,438bcbe0ce4c86f051dc6cc3bbf89b4042ee43c2f4d597...,common_voice_sw_36449395.mp3,5,1,NaN,NaN,NaN,NaN,sw,NaN
1,4dc4c67b27f709f1eefa97e0436fca8ae830a99f69c8e8...,common_voice_sw_36450168.mp3,2,0,NaN,NaN,NaN,NaN,sw,NaN
2,5e1ff1f423f80a352b6c9350b26a2202dc3751f2fa5419...,common_voice_sw_35780884.mp3,2,0,NaN,NaN,NaN,NaN,sw,NaN

In [22]:
def check_shape(data):

    """A simple function to check the shape of the dataset"""

    return data.shape

# check shape of train df

check_shape(train_df)

(82070, 11)

In [23]:
# check shape of test df

check_shape(test_df)

(11559, 10)